In [1]:
import numpy as np
import pandas as pd
import datetime
import random

In [2]:
year = input("Enter Year: ")
month = input("Enter Month: ")
day = input("Enter Day: ")
td = input("Days Between Games: ")
nGames = input("Enter Number of Games: ")
nTeams = input("Enter Number of Teams: ")
year = int(year)
month = int(month)
day = int(day)
td = int(td)
nGames = int(nGames)
nTeams = int(nTeams)
sd = datetime.date(year,month,day)
print('Start Date:',sd)
print('Number of Games:',nGames)
tdelta = datetime.timedelta(days=td)
tms = []
while len(tms)<nTeams:
    add_team = input("Add Team: ")
    tms.append(add_team)

Enter Year: 2019
Enter Month: 5
Enter Day: 26
Days Between Games: 7
Enter Number of Games: 10
Enter Number of Teams: 4
Start Date: 2019-05-26
Number of Games: 10
Add Team: IU
Add Team: Purdue
Add Team: ND
Add Team: Butler

In [3]:
d = []
while len(d)<nGames:
    add_date = sd+tdelta*len(d)
    d.append(add_date)
print(d)

[datetime.date(2019, 5, 26), datetime.date(2019, 6, 2), datetime.date(2019, 6, 9), datetime.date(2019, 6, 16), datetime.date(2019, 6, 23), datetime.date(2019, 6, 30), datetime.date(2019, 7, 7), datetime.date(2019, 7, 14), datetime.date(2019, 7, 21), datetime.date(2019, 7, 28)]

In [4]:
from random import shuffle
tmsH = []
while len(tmsH)<nGames:
    add_tmsH = random.choice(tms)
    tmsH.append(add_tmsH)
tmsA = []
while len(tmsA)<nGames:
    add_tmsA = random.choice(tms)
    tmsA.append(add_tmsA)
schedule = pd.DataFrame({'Date': (d), 'Home': (tmsH), 'Away': (tmsA)})
schedule

         Date    Home    Away
0  2019-05-26  Butler  Purdue
1  2019-06-02  Butler      ND
2  2019-06-09  Purdue      ND
3  2019-06-16  Purdue  Butler
4  2019-06-23  Butler      ND
5  2019-06-30      ND      ND
6  2019-07-07  Butler      ND
7  2019-07-14  Purdue      IU
8  2019-07-21  Butler  Purdue
9  2019-07-28  Butler  Purdue

In [ ]:
schedule.to_csv('schedule_example.csv')